#root {
  max-width: 1900px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  justify-content: center;
}

body{
  background-image:url("/src/world_map.jpeg");

}

.header{
  background-color: grey;
  display: flex;
  color: white;
  font-size: larger;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  
}

            /* Main Wrapper Area */
.main-wrapper {
  display: flex;
  width: 100%;
}


            /* Left Side Box Area */

.left-side-box{
  min-width: 30%;
  max-width: 30%;
}


                  /* Filter Area */
.filter-area-wrapper{
  background-color: rgb(189, 183, 183);
  border-bottom-left-radius:15% ;
  border-bottom-right-radius: 15%;
  min-height: 4rem;
}


                  /* Favorite Countries List Area */
.favorite-countries-list-item{
  list-style-type: none;
  font-style: italic;
  border-bottom: 1px solid black;
  border-radius: 10%;
}

.favorite-countries-list-item:hover{
  font-size: large;
}

            /* Countries List Area */
.countries-list-item{
  list-style-type: none;
  max-width: max-content;
  border-radius: 30%;
  display: flex;
  align-items: center;
  gap: 2px;
}

.flag-button{
  max-width: 3.2rem;
  max-height: 3rem;
  border-radius: 20%;
}

.flag-button:hover{
  cursor:pointer;
}


.countries-list-wrapper {
  max-width: 100%;
  display: flex;
  flex-flow: wrap;
  gap: 1rem;
  justify-content: center;


}



/* Country wrapper */

.country-wrapper{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-left:8rem;
}

.heart-flag{
  display: flex;
  flex-direction: row-reverse;
  gap:3rem;
}
.heart{
  align-self: center;
}

.heart:hover{
  font-size: large;
}