#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
}
            /* Main Wrapper Area */
.main-wrapper {
  display: flex;
  border: 1px solid black;
}


            /* Left Side Box Area */

.left-side-box{
  border: 1px solid red;
}


                  /* Filter Area */


                  /* Favorite Countries List Area */


            /* Countries List Area */
.countries-list-item{
  list-style-type: none;
}




